$light-grey: #f9f9f9;
$dark: #3a3a3a;
$white: white;
$blue: #3a6cf4;
$violet: #000016;
$gradient-blue: linear-gradient(to right, #323e5d, #0f4ef9);

.padding-section {
  padding: 25rem 0;
}

.align-self-column {
  align-self: center;
  margin-top: 3rem;
}
