.wave {
  position: relative;

  img {
    width: 100%;
    display: flex;
  }
}

.wave::after {
  content: "";
  background-image: url("../images/image-header2.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 25%;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}

.about {
  position: relative;
  background-color: $light-grey;
  padding-bottom: 3rem;

  &__container {
    // border: 15px solid white;
    // box-shadow: 14px 19px 30px 2px rgba(0, 0, 0, 0.25);
    // border-radius: 20px;
    display: grid;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
      ". photo1 photo1 ."
      "content content photo2 photo2"
      "content content . .";
    background-color: $light-grey;

    @include responsive(laptop) {
      grid-template-areas:
        ". photo1 photo1 ."
        "content content content content"
        "content content content content "
        "photo2 photo2 photo2 photo2";

      grid-template-rows: repeat(4, max-content);
    }

    & figure {
      background-color: white;
      padding: 1.5rem;
      border-radius: 3rem;
      border: 2px solid rgba(243, 243, 243, 1);
      box-shadow: 14px 19px 30px 2px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 99;

      img {
        width: 100%;
        height: 100%;
        max-width: 47rem;
      }
    }

    &__photo--1 {
      grid-area: photo1;
      justify-self: right;
      position: relative;

      &::after {
        content: url(../images/circles.svg);
        position: absolute;
        height: auto;
        top: -6.2rem;
        right: -5rem;
        z-index: 1;
      }
    }

    &__photo--2 {
      grid-area: photo2;
      justify-self: center;
      position: relative;
      left: 18%;
      top: -25%;
      z-index: 1;

      @include responsive(laptop) {
        top: 0;
        left: 0;
        position: unset;
      }
    }

    &__content {
      grid-area: content;
      grid-row: 2 / 4;
      grid-column: 1 / 5;
      margin-top: 4rem;
      padding-left: 2rem;
      margin-bottom: 5rem;

      @include responsive(laptop) {
        grid-column: 1 / span 4;
      }

      &__tag {
        line-height: 1;
        p {
          font-size: 2rem;
          font-weight: 600;
          text-transform: none;
          margin-bottom: 1rem;
        }
      }

      &__hr {
        height: 2px;
        background-color: #c4c4c4;
        width: 100%;
        margin-bottom: 1rem;
      }

      &__title {
        h1 {
          margin-bottom: 2rem;
        }
      }
      &__text {
        margin-bottom: 1.5rem;
        p {
          width: 80%;

          @include responsive(laptop) {
            width: 100%;
          }
        }
      }

      &__list {

        & h3 {
          font-weight: 500;
          font-size: 1.8rem;
          margin-bottom: 2rem;
        }

        & ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 1.5rem;

          @include responsive(phone) {
            grid-template-columns: 1fr;
          }
        }

        & li {
          display: flex;
          align-items: center;
          gap: 1rem;
          transition: 0.2s ease-in;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
