.header {
  position: relative;
  z-index: 999;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 20rem;
  left: 0;
  align-items: center;
  transition: 0.5s ease;
  overflow: hidden;

  &::after {
    content: url("../images/header-top.svg");
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }

  //   &::before {
  //     content: url("/images/header-bottom.svg");
  //     position: absolute;
  //     width: 100%;
  //     height: auto;
  //     bottom: 0;
  //     right: 0;
  //     z-index: -1;
  //   }

  &__nav {
    position: fixed;
    display: flex;
    max-width: 144rem;
    width: 100%;
    padding: 4rem 10%;
    // position: relative;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    top: 0;
    transition: 0.4s ease;

    &__logo img {
      width: 100%;
    }

    &__links {
      display: flex;
      align-items: center;
      gap: 4rem;
      margin-right: 4rem;

      @include responsive(tablet) {
        display: none;
      }

      & a {
        color: $dark;
        font-size: 2rem;
      }
    }
  }

  &__content {
    max-width: 144rem;
    width: 80%;
    margin: 0 auto;

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;

      @include responsive(laptop) {
        grid-template-columns: 1fr;
      }
    }

    &__main {
      min-width: 350px;
      position: relative;

      @include responsive(tablet) {
        width: 100%;
        min-width: unset;
      }

      &--title {
        margin-bottom: 2rem;
      }

      &--p {
        margin-bottom: 1.5rem;
      }

      &--button button {
        width: 50%;
      }
    }

    &__image {
      //   position: relative;
      //   right: -10%;
      img {
        width: 120%;

        @include responsive(tablet) {
          width: 100%;
        }
      }
    }
  }
}
