.activeLink {
  position: relative;
  //   border-bottom: 2px solid $blue;

  &::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    background-color: $blue;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@include responsive(tablet) {
  .header__nav__links.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    transition: 0.3s ease;
    margin-right: 0;
  }
}

.menu-btn.active {
  z-index: 999;
  background: url("../images/close.svg") no-repeat;
  background-size: 25px;
  background-position: center;
  transition: 0.3s ease;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 9990;
}
